@use '../global/index' as g;
@use './btn';


.pcnone {
  @include g.mq {
    display: none;
  }
}

.compornent {
  display: flex;
  width: 100%;
  height: 100%;
  
  .nav-area {
    flex-grow: 1;
  }
  .main {
    flex-grow: 5;
  }
}

/* main */
.main {
  padding: 60px 50px 30px;
  width: 100%;
}

.section-title {
  font-size: 2em;
}

.buttons__list {
  display: flex;
  align-items: center;

  &.items-flexend {
    align-items: flex-end;
  }

  & + & {
    margin-top: 40px;
  }
}

.buttons__item {
  display: flex;
  flex-direction: column;

  .column-two > & {
    width: 30%;
  }

  .column-two-long > & {
    width: 40%;
  }

  .column-many > & {
    width: 25%;
  }
}

.buttons__description {
  margin-bottom: 5px;
}