@use '../global/index' as g;

.service-card {
  $this: &;
  margin: 2em auto;
  max-width: calc(100% - 8vw);
  min-height: 420px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;

  &__inner {
    margin: 13% auto;
    width: 90%;
  }
  
  &__icon {
    position: relative;
    width: 67px;
    height: 67px;
    border-radius: 10px;
    color: g.$color-white;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include g.font_icon;
    }
  }

  &__title {
    margin-top: 13%;
    font-size: 2.4em;
    font-weight: 700; 
  }

  &__description {
    margin-top: 13%;
    font-size: 1.6em;
    line-height: 1.5;
  }

  &__btn {
    margin-top: 13%;
    background-color: g.$color-gray2;
    color: g.$color-darkgray;
    width: 116px;
    height: 42px;
    display: block;
    font-size: 1.6em;
    border-radius: 12px;
    text-align: center;

    &::before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    
    &:hover {
      background-color: g.$color-blue;
      color: g.$color-white;
    }
  }

  &:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
  }

  &--design {

    & #{$this}__icon {
      background-color: g.$color-blue;

      &::before {
        content: '\f304';
        font-size: 27px;
      }
    }
  }
  
  &--frontend {
  
    & #{$this}__icon {
      background-color: g.$color-green;
  
      &::before {
        content: '\f121';
        font-size: 27px;
      }
    }
  }

  &--backend {
  
    & #{$this}__icon {
      background-color: g.$color-red;
  
      &::before {
        content: '\f0ca';
        font-size: 27px;
      }
    }
  }
}