$color-base: #2f3237;
$color-white: #fff;
$color-gray: #fafbfd;
$color-gray2: #e0e0e0;
$color-darkgray: #ababab;
$color-blue: #3d5afe;
$color-darkblue: #0039cb;
$color-rightblue: #eaefff;
$color-darkgray2: #455a64;
$color-darkgray3: #1c313a;
$color-red: #d32f2f;
$color-darkred: #9a0007;
$color-orange: #f86948;

$font-base: 'Poppins', sans-serif;
$font-logo: 'Heebo', sans-serif;