$color-base: #333;
$color-blue: #2D9CDB;
$color-green: #27AE60;
$color-red: #EB5757;
$color-white: #fff;
$color-gray: #f2f2f2;
$color-gray2: #E0E0E0;
$color-gray3: #828282;
$color-gray4: #bdbdbd;
$color-gray5: #4f4f4f;
$color-darkgray: #828282;
$color-black: #100E1D;

$font-base: 'Poppins', sans-serif;
$font-logo: 'Heebo', sans-serif;